<ul class="nav nav-pills nav-dark bg-dark">
    <li class="nav-item">
      <a class="nav-link " routerLink="/addbook">Add Book</a>
    </li>
    <li class="nav-item active">
      <a class="nav-link" routerLink="/updatebook">Update Book</a>
    </li>
    <li class="nav-item active">
      <a class="nav-link" routerLink="/deletebook">Delete Book</a>
    </li>
    <li class="nav-item active">
      <a class="nav-link" routerLink="/showallbooks">All Books</a>
    </li>
    <li class="nav-item active">
      <a class="nav-link" routerLink="/acceptissue">Accept Issue</a>
    </li>
</ul>

<!-- ******************************************************************************************************* -->

<div class="row">
    <img src="https://cdn.pixabay.com/photo/2016/11/18/12/05/white-male-1834100_1280.jpg" width="1500px" height="600px" class="center">
</div>