<div class="col-md-6 offset-md-3 mt-5 card">
    <div class="card-header bg-dark text-white">
        <div class="card-title text-center">
            <h4> Search Product </h4>
        </div>
    </div>
    <div class="card-body">
        <input type="search" name="search" id="search" [(ngModel)]='search' class="form-control col-md-8 offset-md-2 mb-3 mt-5"
            placeholder="Enter product name to search">
            <button class="btn btn-outline-primary float-right" (click)='getProduct(search)'>Search</button>
    </div>

    <div *ngIf='myProduct'>
    <table class="table table-bordered table-hover">
            <thead class="thead-dark">
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>category</th>
                    <th>company</th>
                    <th>quantity</th>
                    <th>price</th>
                    <th>Cart</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let product of myProduct">
                    <td>{{product.id}}</td>
                    <td>{{product.name}}</td>
                    <td>{{product.category}}</td>
                    <td>{{product.company}}</td>
                    <td>{{product.quantity}}</td>
                    <td>{{product.price}}</td>
                    <td><button class="btn btn-success" >Add to cart</button></td>
                    
                </tr>
            </tbody>
        </table>
    </div>
</div>
